*.exe
*.asv
matlab_exts/afemmatlab/
matlab_exts/unit_conversions/
matlab_exts/gaffe/
matlab_exts/LinkTopAxisData/
matlab_exts/plotxx/
matlab_exts/getxls/
html/
DOCUMENTO/
BTL/
Diagramas_de_flujo/
gui1_files/
imagenes/
info/
IR_problemas/
Mathematica/
Problemas_Resueltos/
borrar/
bu/